doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Webpack Foundation Starter
		link(rel='icon', href='/images/favicon.ico')
	body
	include ../includes/header.pug
	.wrapper   
		.container
			block content 
	block scripts